azureml-core
azureml-train
azureml-dataprep
azureml-mlflow
azureml-widgets
azure-storage-blob
numpy
pandas
matplotlib
papermill
gitpython
black==19.10b0
black-nb
lightgbm
xgboost
dask
bokeh
dask-ml
optuna
plotly
